

<div class="container">
    
  <div class="set">
    <button type="button" (click)="back()" class="btn btn-link">Back</button>
  <div class="row">
      
      <div class="col-4">
        <h3>Podaci</h3>
      </div>
      <div class="col-4">
        <h3>Istorija bolesti</h3>
      </div>
      <div class="col-4">
        <h3>Porodicne bolesti</h3>
      </div>
  </div>
  <div class="row">
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
            
          </ul>
    </div>
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
    </div>
    <div class="col-4">
        <ul class="list-group">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
    </div>
  </div>
  </div>
</div>
