<div class="set">

<div id="pacientContainer">
    <h2> Novi pacijent</h2>
    <form>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label for="ime">Ime: </label>
            <input type="text" [(ngModel)]="pacient.ime" class="form-control" id="ime" name="ime" placeholder="Ime">
          </div>
          <div class="form-group">
            <label for="prezime">Prezime: </label>
            <input type="text" name="prezime" [(ngModel)]="pacient.prezime"  class="form-control" id="prezime" placeholder="prezime">
          </div>
        
          <div class="form-group">
            <label for="godiste">Godiste: </label>
            <input type="number" [(ngModel)]="pacient.godiste" class="form-control" name="godiste" id="godiste" min="1910" placeholder="eg 1996">
          </div>

          <div class="form-group">
            <label for="JMBG">JMBG: </label>
            <input type="text" class="form-control" [(ngModel)]="pacient.JMBG" name="JMBG" id="JMBG" placeholder="enter JMBG">
          </div>

          <div class="form-group">
              <label for="telefon">Telefon: </label>
              <input type="text" class="form-control" [(ngModel)]="pacient.telefon" name="telefon" id="telefon" placeholder="enter phone">
          </div>
        
          <div class="form-group">
              <label for="adresa">Adresa: </label>
              <input type="text" class="form-control" [(ngModel)]="pacient.adresa" name="adresa" id="adresa" placeholder="adresa">
          </div>
          <button (click)="addPacient()" type="button" class="btn btn-primary">Add pacient</button>
        </div>
        <div class="col">
          <div class="form-check" style="margin-bottom: 20px;">
            <input [(ngModel)]="pacient.pusac" name="pusac" class="form-check-input" type="checkbox" value="" id="pusacCheck">
            <label class="form-check-label" for="pusacCheck">
                Pusac
            </label>
          </div>
          <div class="form-check" style="margin-bottom: 20px;">
            <input [(ngModel)]="pacient.alkohol" name="alkohol" class="form-check-input" type="checkbox" value="" id="alkoholCheck">
            <label class="form-check-label" for="alkoholCheck">
                Alkohol
            </label>
          </div>

          <div class="form-group row">
            <label for="debljina" class="col-sm-2 col-form-label">Debljina:</label>
            <div class="col-sm-10">
                <select [(ngModel)]="pacient.debljina" name="debljina" class="form-control" id="debljina">
                    <option>fat</option>
                    <option>skinny</option>
                    <option>normal</option>
                </select>
            </div>
          </div>

          <div class="form-group row">
            <label for="rasa" class="col-sm-2 col-form-label">Rasa:</label>
            <div class="col-sm-10">
                <select [(ngModel)]="pacient.rasa" name="rasa" class="form-control" id="rasa">
                    <option>white</option>
                    <option>black</option>
                    <option>hispanic</option>
                </select>
            </div>
          </div>

          <div class="form-group">
            <label for="porodicneBolesti">Porodicne bolest</label>
            <select class="form-control" id="porodicneBolesti" multiple>
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <div class="form-group">
            <label for="istorijaBolesti">Istorija bolesti</label>
            <select multiple class="form-control" id="istorijaBolesti">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
         
        </div>
       </div>
      </form>
    </div>
  </div>