<div id="pregledContainer">
  <form>
      <h2>Pregled</h2>
      <div class="form-group">
        <label for="simptoms">Choose simptoms:</label>
        <select  [(ngModel)]="pregled.simptoms" class="form-control" id="simptoms" name="simptoms" multiple>
          <option *ngFor="let simptom of simptoms">{{simptom}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="selectMode">Choose mode:</label>
        <select [(ngModel)]="selectMode" class="form-control" id="selectMode" name="selectMode">
          <option>RULE</option>
          <option>CASE</option>
        </select>
      </div>
      <div class="form-group">
        <button (click)="diagnose()" type="button" class="btn btn-success">Diagnose</button>
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Example textarea</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
    </form>
  </div>
