<button type="button" (click)="back()" class="btn btn-link">Back</button>
<div id="pregledContainer">
  
  <form>
      <h2>Pregled</h2>
      <div class="form-group">
        <label for="simptoms">Choose simptoms:</label>
        <select  [(ngModel)]="pregled.simptoms" class="form-control" id="simptoms" name="simptoms" multiple>
          <option *ngFor="let simptom of simptoms">{{simptom}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="selectMode">Choose mode:</label>
        <select [(ngModel)]="selectMode" class="form-control" id="selectMode" name="selectMode">
          <option>RULE</option>
          <option>CASE</option>
        </select>
      </div>
      <div class="form-group">
        <button (click)="diagnose()" type="button" class="btn btn-success">Diagnose</button>
      </div>

      <div *ngIf="selectMode === 'RULE'">
      <div *ngIf="showBolest" class="form-group">
        <label for="selectBolest">Odaberi bolest :</label>
        <select  [(ngModel)]="selectBolest" class="form-control" id="selectBolest" name="selectBolest">
          <option *ngFor="let bolest of potencijalneBolesti">{{bolest}}</option>
        </select>
      </div>
      <div *ngIf="showBolest" class="form-group">
        <button (click)="diagnostika()" type="button" class="btn btn-primary">Diagnostike</button>
      </div>


    <div *ngIf="showDijagnostika" class="form-group">
        <label for="selectDijagnostika">Odaberi dijagnostiku :</label>
        <select  [(ngModel)]="selectDijagnostika" class="form-control" id="selectDijagnostika" name="selectDijagnostika">
          <option *ngFor="let dijagnostika of dijagnostike">{{dijagnostika}}</option>
        </select>
      </div>
      <div *ngIf="showDijagnostika" class="form-group">
        <button (click)="save()" type="button" class="btn btn-info">Save</button>
      </div>
    </div>

    <div *ngIf="selectMode === 'CASE'">
      
    </div>

    </form>
  </div>
